APP_PORT=8080
APP_PATH_BASE=/
ASPNETCORE_ENVIRONMENT=Development

MONGODB_DATABASE=prueba-capitole-gtmotive
MONGODB_PORT=27018
MONGODB_VEHICLES_COLLECTION=vehicles
MONGODB_RENTALS_COLLECTION=rentals
MONGODB_VOLUME_NAME=prueba-capitole-gtmotive-mongodb-data

MOCKSERVER_PORT=1080
MOCKSERVER_LOG_LEVEL=INFO

SWAGGER_AUTH_FLOW=AuthorizationCode
SWAGGER_ENABLE_TRY_IT=Yes
